<!DOCTYPE html>
<html lang="en-EN" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<div th:insert="~{navbar.html :: nav}"></div>

<div lang="ru-RU">

    <form th:method="GET" th:action="@{/get/all/text_match}" th:object="${answerRequest}">
        <input type="text" th:field="*{exercise}" placeholder="exercise text" id="ex_text" required>

        <label for="subjects-select">Choose subject</label>
        <select id="subjects-select" th:field="*{subject}" required>
            <option th:each="subject : ${subjectTypes}" th:text="${subject}" th:value="${subject}"></option>
        </select>

        <button type="submit">Find</button>
    </form>
</div>

</body>
</html>