<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All matches</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert="~{navbar.html :: nav}"></div>

<div th:each="answer : ${answers}">
    <div style="border: 1px solid #000">
        <p th:text="${answer.getId()}"/>
        <p th:text="| Type: ${answer.getSubject()} |"/>
        <h2 th:utext="${answer.getExercise()}"></h2>
        <b th:text="${answer.getRightAnswer()}"/>
    </div>
</div>

</body>
</html>